POSTGRES_DB=ml_service
POSTGRES_USER=ml_user
POSTGRES_PASSWORD=ml_password
POSTGRES_HOST=database
POSTGRES_PORT=5432
DATABASE_URL=postgresql+psycopg://ml_user:ml_password@database:5432/ml_service
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=ml_rabbit
RABBITMQ_PASSWORD=ml_rabbit_pass
RABBITMQ_QUEUE=ml_tasks
